[submodule "poky"]
	path = yocto/poky
	url = https://git.yoctoproject.org/git/poky
	branch = pyro
[submodule "meta-hilscher-netx4000"]
	path = yocto/meta-hilscher-netx4000
	url = https://github.com/Hilscher/meta-hilscher-netx4000.git
	branch = pyro
[submodule "ubuntu/netx4000-barebox"]
	path = ubuntu/netx4000-barebox
	url = https://github.com/hilscher/netx4000-barebox.git
	branch = v2016.07.0-netx4000
[submodule "ubuntu/netx4000-linux"]
	path = ubuntu/netx4000-linux
	url = https://github.com/hilscher/netx4000-linux.git
	branch = v4.9-netx4000-stable
